
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$test-got-it-primary: mat-palette($mat-indigo);
$test-got-it-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$test-got-it-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$test-got-it-theme: mat-light-theme((
  color: (
    primary: $test-got-it-primary,
    accent: $test-got-it-accent,
    warn: $test-got-it-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($test-got-it-theme);

:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
:root {
  --mainColor: #c5201b;
}
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #000;
    font-weight: 600;
    font-family: "Lucida Sans Unicode", Verdana;
    padding: 0 5%;

    a {
      display: flex;
      align-items: center;

      span {
        margin-right: 10px;
      }
    }

    .trial-btn {
      background-color: var(--mainColor);
      padding: 5px 15px;
      border-radius: 50px;
      margin: 0 16px;
      flex: none;
    }
  }

  .toolbar img {
    margin: 0;
  }

  .toolbar-mobile {
    display: none;
    height: 60px;
    background-color: #000;
    font-weight: 600;
    font-family: "Lucida Sans Unicode", Verdana;
    padding: 0 5%;
    position: relative;

    .container-toolbar-mobile {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      height: inherit;
    }

    .burger-menu {
      flex-direction: column;
      justify-content: center;
      padding: 0;

      span {
        border-top: 1px solid white;
        width: 15px;
        margin: 0 0 5px 0;
      }
    }
  }

  #mobile-menu {
    display: flex;
    position: absolute;
    right: 5%;
    flex-direction: column;
    z-index: 2;
    align-items: flex-end;
    background-color: #000;
    padding: 15px;
    line-height: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px -4px rgb(197 32 27 / 75%);
    
    .trial-btn {
      background: var(--mainColor);
      padding: 0 10px;
      border-radius: 50px;
    }
  }

  .hiden {
    display: none !important;
    background-color: initial;
  }

  .archive-header-button-container {
    display: flex;
    height: 100%;
    width: 100%;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: white !important;
    text-decoration: none !important;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  app-archive-page {
    display: block;
  }

  .butttons {
    display: flex;
    align-items: center;
    background-color: inherit;
    border: 0;
    color: white;
    font-weight: 600;
    font-size: 16px;
    font-family: "Lucida Sans Unicode", Verdana;
    padding: 0 18px;
    height: inherit;

    span {
      margin-left: 10px;
    }

    &.active {
      background-color: var(--mainColor);
    }
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: black;
    align-items: center;
    // line-height: 40px;

    .footer-logo {
      margin-top: 20px;
    }

    ul {
      display: flex;
      padding: 0;
      width: 50%;
      justify-content: space-around;
      list-style: none;
    }

    a,p,li {
      font-family: "Lucida Sans Unicode", Verdana;
      color: white;
    }

    p {
      margin-bottom: 20px;
    }
  }
.mat-form-field-appearance-fill .mat-form-field-flex {
  height: 40px;
  padding: 0 !important;
}
.mat-form-field {
  height: inherit !important;
}
.entries-pagination .page-item.disabled .page-link,
.entries-pagination .page-item:first-child .page-link, 
.entries-pagination .page-item:last-child .page-link{
  color: white;
  background-color: unset;
  border: 0;
  border-radius: 50%;
}
.entries-pagination .page-link {
  color: white;
  background-color: var(--mainColor);
  border: 0;
  opacity: 0.6;
  border-radius: 50%;
  margin: 0 5px;
}
.entries-pagination .page-item.active .page-link, .entries-pagination .page-link:hover {
  opacity: 1;
  background-color: var(--mainColor);
}
  /* Responsive Styles */
  @media screen and (max-width: 991px) {
    .toolbar {
      display: none;
    }
    .toolbar-mobile {
      display: block !important;
    }
  }

  @media screen and (max-width: 768px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }

    .mat-form-field-appearance-fill .mat-form-field-flex {
      width: 125px;
      font-size: 12px;
      height: 30px;
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #1A1A1A !important }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
