<div class="banners-container">
    <a [routerLink]="['/archive', 'movies']" class="baner">
        <img src="https://static.rviewer.io/challenges/datasets/dreadful-tomatoes/assets/pirates_of_the_caribbean.jpg" alt="">
        <p>Movies</p>
    </a>
    <a [routerLink]="['/archive', 'series']" class="baner">
        <img src="https://static.rviewer.io/challenges/datasets/dreadful-tomatoes/assets/the_wolf_of_wall_street.jpg" alt="">
        <p>Series</p>
    </a>
</div>




<!-- <div class="home-baner">
    <a [routerLink]="['/archive', 'movies']" class="btn">Movies</a>
    <a [routerLink]="['/archive', 'series']" class="btn">Series</a>
</div> -->
